.box-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-post > img {
    width: 100%;
}

.title {
    padding: 2% 0;
}

.body-post {
    line-height: 2rem;
}

.meta {
    width: 100%;
    margin-bottom: 1rem;
}
